name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Gradle Build
        run: |
          sudo gradle build
      - name: Upload the built artifact
        uses: actions/upload-artifact@v2
        with:
          name: ExplosiveThings.jar
          path: build/libs/explosivethings-1.0-SNAPSHOT.jar
          if-no-files-found: error

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          name: "ExplosiveThings Mod for minecraft: 1.16.5"
          files: build/libs/explosivethings-1.0-SNAPSHOT.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
